langchain
langchain_community
langchain_google_genai
langchain_huggingface
langchain_experimental
langchain-qdrant
pypdf
sentence_transformers
langchain-mcp-adapters
mcp
langchain-tavily
crewai
crewai-tools
crewai-tools[mcp]
crewai[google-genai]
streamlit
matplotlib
numpy
Pillow>=7.1.0,<12
pydantic>=2.0.0

-e .